i.icon {
    font-size: 2em;
}

.firstContainer {
    /* margin-top: 7em;
    margin-bottom: 7em; */
    margin: 7em 7em;

	/* height: 100vw;
	font-size: 0;  */
}


.content{
    margin: 10px 0;
}

.description{
    margin: 10px 0;
}

.masonry {
    column-gap: 1.5em;
  }
  
.masonry-item {
    background: #fff;
    display: inline-block;
    margin: 1em 1em;
    width: 100%;
}
  
  /* Masonry on large screens */
  @media only screen and (min-width: 1200px) {
    .masonry {
      column-count: 3;
    }
  }
  
  /* Masonry on medium-sized screens */
  @media only screen and (max-width: 1199px) and (min-width: 768px) {
    .masonry {
      column-count: 2;
    }
  }
  
  /* Masonry on small screens */
  @media only screen and (max-width: 767px) and (min-width: 540px) {
    .masonry {
      column-count: 1;
    }
  }


.ui.card{
    width: 700px;
}